{{ $label :=  default "METAR" (.Get 1) }}

<p>
  <b>{{ $label }}:</b> <span id="airportmetar-{{ .Get 0 }}">Loading</span>
</p>

<script type="text/javascript">
async function getMetar{{ .Get 0 | safeJS }}() {
  const response = await fetch("https://api.zanartcc.org/v1/weather/metar/{{ .Get 0 }}");
  const metar = await response.json();
  document.getElementById("airportmetar-{{ .Get 0 }}").innerHTML = metar;
}
document.addEventListener("DOMContentLoaded", () => {
  getMetar{{ .Get 0 | safeJS }}();
  setInterval(getMetar{{ .Get 0 | safeJS }}, 60000);
});
</script>